img{
    
    border-radius: 2%;
}

div{
    font-family: "Open Sans", "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;

}
#title{
    font-weight: bold;
}
button{
    background-color: #7f84c4;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10%;
  }
  #authtitle{
    color: #747474;
  }