<div>


    <div>
        <img [src]="blog.image_url" (click)="showBlog()">
    </div>
    <!--using pipes to format the date -->
    <div>
        {{blog.category}} | {{blog.post_date | date}}

    </div>
    <div id="title">
        {{blog.title}}
    </div>

    <div>
        {{blog.author}}

    </div>
    <div id="authtitle">
        {{blog.author_title}}
    </div>
    <div>

        <button (click)="removeBlog()">Remove</button> <button (click)="editBlog()">Edit</button>
    </div>


</div>