<div>
    

    <div>
        <img [src]="blog.imageUrl" (click)="showBlog()">
    </div>
    <!--using pipes to format the date -->
    <div >
        {{blog.category}} | {{blog.postdate | date}}
        
    </div>
    <div id = "title">
        {{blog.title}}
    </div>
        
    <div>
        {{blog.author}}
       
    </div>
    <div id = "authtitle">
        {{blog.authorTitle}}
    </div>
    <div>
      
        <button (click)="removeBlog()">Remove</button> <button (click)="editBlog()">Edit</button>
    </div>
    
   
</div>