p,h1{
    font-family: "Open Sans", "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
}
#top, #title{
    color: #747474;
}
.body{
  
    position: relative;
    margin-left: 500px;
    align-items: center;
}
#textbody{
    margin-right: 200px;
}
#name{
    color: #323131;
    font-style: italic;

}